{% extends "layout.html" %}

{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}

{% block pageTitle %}
  Search for a bankrupt and disqualified officer
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

<h1 class="govuk-heading-l">
  Search for a bankrupt and disqualified officer
</h1>


<form method="post" action="/admin/officer-search/scottish-bankrupt-officer">
{{
    govukErrorSummary ({
      titleText: 'There is a problem',
      errorList: validationResult.errors
    }) if validationResult and validationResult.errors.length > 0
}}

  <div class="govuk-form-group">
    <label class="govuk-label" for="forename1">First name</label>
    <input class="govuk-input govuk-!-width-one-half" id="forename1" type="text" name="forename1" aria-describedby="forename1-hint">
  </div>
  <div class="govuk-form-group {% if whereTo === 'noInfo' %} govuk-form-group--error     {% endif %}">
    {% if whereTo === 'noInfo' %}
    <label class="govuk-error-message">
      Enter a Date of Birth or a Last Name
    </label>
  {% endif %}
    <label class="govuk-label" for="surname">Last name</label>
    <input class="govuk-input govuk-!-width-one-half" id="surname" type="text" name="surname" aria-describedby="surname-hint">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="alias">Alias</label>
    <input class="govuk-input govuk-!-width-one-half" id="alias" type="text" name="alias" aria-describedby="alias-hint">
  </div>
  <div class="govuk-form-group  {% if whereTo === 'noInfo' %} govuk-form-group--error     {% endif %}">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="from-dob-hint">
      <legend class="govuk-fieldset__legend">
        From Date of Birth
      </legend>
      <div id="dob-hint" class="govuk-hint">
        For example, 31 03 1980
      </div>
      <div class="govuk-date-input" id="from-dob">
        {% if whereTo === 'noInfo' %}
          <label class="govuk-error-message">
            Enter a Date of Birth or a Last Name
          </label>>
        {% endif %}
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="from-dob-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-dob-dd"
              name="from-dob-dd" autocomplete="bday-day" type="text" pattern="[0-9]*" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="from-dob-mm">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-dob-mm"
              name="from-dob-mm" autocomplete="bday-month" type="text" pattern="[0-9]*" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="from-dob-yyyy">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-dob-yyyy"
              name="from-dob-yyyy" autocomplete="bday-year" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
        </div>
  </fieldset>
      </div><div class="govuk-form-group {% if whereTo === 'noInfo' %} govuk-form-group--error     {% endif %}">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="to-dob-hint">
          <legend class="govuk-fieldset__legend">
           To Date of Birth:
          </legend>
          <div id="dob-hint" class="govuk-hint">
            For example, 31 03 1985
          </div>
           {% if whereTo === 'noInfo' %}
            <label class="govuk-error-message">
              Enter a Date of Birth or a Last Name
           </label>
           {% endif %}
          <div class="govuk-date-input" id="to-dob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="to-dob-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-dob-dd"
                  name="to-dob-dd" autocomplete="bday-day" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="to-dob-mm">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-dob-mm"
                  name="to-dob-mm" autocomplete="bday-month" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="to-dob-yyyy">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-dob-yyyy"
                  name="to-dob-yyyy" autocomplete="bday-year" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
          </div>
    </fieldset>
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="postcode">
      Postcode
    </label>
    <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text"
      autocomplete="postal-code" aria-describedby="postcode-hint">
  </div>
  <button class="govuk-button" data-module="govuk-button">
    Search
  </button>
</form>

{% if searched %}
  <h2 class="govuk-heading-l">Search results</h2>
  <span id="results-hint" class="govuk-hint">
    Showing {{ itemsPerPage }} of {{ totalResults }} results
  </span>
  <div class="govuk-grid-column-full-width">
    <table id="results-table" class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">First name</th>
          <th scope="col" class="govuk-table__header">Last name</th>
          <th scope="col" class="govuk-table__header">Date of birth</th>
          <th scope="col" class="govuk-table__header">Postcode</th>
          <th scope="col" class="govuk-table__header govuk--width-one-quarter">Debtor Discharge Date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for item in items %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href='/admin/officer-search/scottish-bankrupt-officer/{{ item.ephemeralKey }}' class='govuk-link'>{{ item.forename1 }}</a></td>
          <td class="govuk-table__cell">{{ item.surname }}</td>
          <td class="govuk-table__cell">{{ item.dateOfBirth }}</td>
          <td class="govuk-table__cell">{{ item.postcode }}</td>
          <td class="govuk-table__cell">{{ item.debtorDischargeDate }}</td>
        {% endfor %}
      </tr>
      </tbody>
    </table>
    {% if not items or not items|length %}
      <h2 class="govuk-heading-s">No results found matching your search criteria.</h2>
    {% endif %}
    {% if pagination %}
    <div id="pagination-container">
      {{ govukPagination(pagination) }}
    </div>
    {% endif %}
  </div>   
{% endif %}
{% endblock %}