{% extends "layout.html" %}

{% block pageTitle %}
  Bankrupt Officer
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/bankruptcy"
  }) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl"> {{ bankruptOfficer.forename1 }} {{ bankruptOfficer.surname }} </h1>
  
{% set overviewHtml %}

<h2 class="govuk-heading-m">Personal information</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Forename"
      },
      value: {
        text: bankruptOfficer.forename1
      }
    },
    {
      key: {
        text: "Middle Names"
      },
      value: {
        text: bankruptOfficer.forename2
      }
    },
    {
      key: {
        text: "Surname"
      },
      value: {
        text: bankruptOfficer.surname
      }
    },
    {
      key: {
        text: "Alias"
      },
      value: {
        text: bankruptOfficer.alias
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: bankruptOfficer.dateOfBirth
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m govuk-!-margin-top-9">Home address</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Address line 1"
      },
      value: {
        text: bankruptOfficer.addressLine1
      }
    },
    {
      key: {
        text: "Address line 2"
      },
      value: {
        text: bankruptOfficer.addressLine2
      }
    },
    {
      key: {
        text: "Address line 3"
      },
      value: {
        text: bankruptOfficer.addressLine3
      }
    },
    {
      key: {
        text: "Town"
      },
      value: {
        text: bankruptOfficer.town
      }
    },
    {
      key: {
        text: "County"
      },
      value: {
        text: bankruptOfficer.county
      }
    },
    {
      key: {
        text: "Postcode"
      },
      value: {
        text: bankruptOfficer.postcode
      }
    }
  ]
}) }}

{% endset -%}

{% set bankruptcyInfoHtml %}

<h2 class="govuk-heading-m">Bankruptcy information</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Case Reference"
      },
      value: {
        text: bankruptOfficer.caseReference
      }
    },
    {
      key: {
        text: "Case Type"
      },
      value: {
        text: bankruptOfficer.caseType
      }
    },
    {
      key: {
        text: "Bankruptcy Type"
      },
      value: {
        text: bankruptOfficer.bankruptcyType
      }
    },
    {
      key: {
        text: "Start Date"
      },
      value: {
        text: bankruptOfficer.startDate
      }
    },
    {
      key: {
        text: "Debtor Discharge Date"
      },
      value: {
        text: bankruptOfficer.debtorDischargeDate
      }
    },
    {
      key: {
        text: "Trustee Discharge Date"
      },
      value: {
        text: bankruptOfficer.trusteeDischargeDate
      }
    }
  ]
}) }}

{% endset -%}

{{ govukTabs({
  items: [
    {
      label: "Overview",
      id: "overview",
      panel: {
        html: overviewHtml
      }
    },
    {
      label: "Bankruptcy information",
      id: "bankruptcy-info",
      panel: {
        html: bankruptcyInfoHtml
      }
    }
  ]
}) }}


{% endblock %}